@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;600;700;800&display=swap');
$fuentePrincipal:'Barlow', sans-serif;
$colorPrimario:#0a18f1;
$bgSecondario:#5bcdfa;
$bgyellow:#fee700;
$colorSecondario:#444444;
$textoClaro:#8F94A1;
$gridOscuro:#2F2E2E;
$negro:#000000;
$blanco:#fff;
$bgcar:#F4F4F4;
$green:#fff;
$textNegro:#424242;
$titleSize:4.8rem;