.chooseGroup{
    text-align: center;
    
}
.chooseGroup select{
    padding: 1rem 3rem;
    display: block;
    margin: auto;
    margin-top: 6rem;
    outline: none;
    -webkit-appearance: none;
    border-radius: 1rem;
    width: 35%;
    
}
.btn.choose{
    padding: 1rem 5rem;
    outline: none;
    display: block;
    margin: auto;
    margin-top: 4rem;
}
