.iconCloseOpen{
    text-align: left;
    margin-top: 3rem;
    margin-left: 2.5rem;
    transition: min-width .5s ease-out;   
    cursor: pointer;
    width: fit-content;
   
}
.icons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2.5rem;
    & .icon{
        transition: all .2s;
        justify-content: center;
        display: flex;
        position: relative;
        align-items: center;
        padding: 4.5rem 0;
        & .nameIcon{
            position: absolute;
            color: #424242;
            top: 0;
            left: 1.5rem;
            font-weight: 600;
            opacity: 0;
            transition: all .4s;
        }
        & .titleIcon{
            position: absolute;
            opacity: 0;
            transition: all .4s;
            font-weight: 600;
        }
        &:first-child img/* &:last-child img */{
            left: 2rem;
        }
        & .l-2{
            left: 2rem;
        }

        &:not(.activeIcon):not(:hover){
            padding-right: 1rem;
        }
        & img{
            position: absolute;
            left: 1rem;
            line-height: 4.5rem;
            bottom: 2.5rem;
        }
        & span{
          
          
        }
        &:hover{
            border-right: 1rem solid $colorPrimario;
        
        }
    }
    
    .activeIcon{
        border-right: 1rem solid $colorPrimario;
        padding-right: 0;
    }


    & .icon-two{
        & .nameIcon{
            margin-left: 0rem;
            opacity: 0;
            position: relative;
            top: 3rem !important;
            transition: all .4s;
            position: relative;
            color: #424242;
            font-weight: 600;

        }
       
    }

}

.pweroff{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    & img{
        cursor: pointer;
        width: 5rem;
        position: relative;
        right: .3rem;
    }
}